@import 'abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --font-color: #96999c;
  --second-font-color: #1A1818;
  --primary-color: #E50019;
  --button-color: #fff;
  --circle-border: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color);
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: none;

  @include res(desktop) {
    display: flex;
    align-items: center;
  }

  &__button {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 3px;
    display: flex;
    align-items: center;

    @include res(desktop) {
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: flex;

    &--social {
      margin-left: 1rem;
    }
  }

  &__item {
    margin: 0 0.5rem;
  }

  &__link {
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  @include res(desktop) {
    margin-top: 3rem;
    flex-direction: row;
  }

  &__section {
    @include res(desktop) {
      flex: 50%;
    }

    &--left {
      @include res(desktop) {
        padding-right: 3rem;
      }
    }

    &--right {
      position: absolute;
      right: 1rem;
      top: 2.5rem;

      @include res(desktop) {
        position: static;
        right: unset;
        top: unset;
      }

      img {
        margin: auto;
        width: 85px;
        display: block;
        @include res(desktop) {
          width: auto;
        }
      }
    }
  }

  &__description {
    text-align: center;
  }

  &::after,
  &::before {
    content: '';
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 1px solid var(--circle-border);
    position: absolute;
    bottom: -30%;
    right: -20%;

    @include res(desktop) {
      width: 750px;
      height: 750px;
      bottom: unset;
      top: -30%;
      right: -10%;
    }
  }
  &::before {
    bottom: -10%;
    right: -30%;

    @include res(desktop) {
      top: unset;
      right: -10%;
      bottom: -5%;
    }
  }
}

.section {
  padding: 2rem;
  width: 1390px;
  margin: auto;
  max-width: 100%;
  position: relative;

  &--row {
    display: flex;
    flex-direction: column-reverse;

    @include res(desktop) {
      flex-direction: row;
    }
  }

  &__column {
    flex: 50%;
    align-items: center;
    display: flex;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 3.125rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-weight: 900;

    @include res(desktop) {
      text-align: left;
      margin-bottom: 3rem;
    }

    &--secondary {
      color: var(--second-font-color);
    }

    span {
      font-size: 6.375rem;
      position: relative;
      top: 1rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    text-align: center;
    color: var(--second-font-color);
    margin-top: -1rem;
  }

  &__paragraph {
    text-align: center;

    @include res(desktop) {
      text-align: left;
    }
  }

  &__lists {

    &--col {
      display: flex;
      justify-content: space-between;
    }

    + h4 {
      margin-top: 2rem;
    }
  }
}

.title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  &__first-line {
    font-size: 0.9375rem;
    font-weight: normal;
    white-space: nowrap;
    position: relative;

    @include res(desktop) {
      font-size: 2.625rem;
      left: 0.5rem;
    }
  }

  &__main-line {
    color: var(--second-font-color);
    font-size: 4.25rem;
    line-height: 3.8125rem;

    @include res(desktop) {
      font-size: 11.3125rem;
      line-height: 10.125rem
    }
  }
}

.chart {
  width: 611px;
  height: 470px;
  position: relative;
  background: url('../static/sections/second.svg') center no-repeat;
  font-size: 1.825rem;
  font-family: 'Proxima Nova', sans-serif;
  list-style: none;
  font-weight: 900;
  transform: scale(0.5) translate(-50%);
  margin: -100px 0;

  @include res(tab) {
    margin: auto;
    width: 611px;
    height: 470px;
    transform: none;
  }

  &__item {
    position: absolute;

    &:nth-child(1) {
      top: 16%;
      left: 25%;
    }

    &:nth-child(2) {
      top: 36%;
      left: 46%;
    }

    &:nth-child(3) {
      top: 56%;
      left: 36%;
    }

    &:nth-child(4) {
      top: 80%;
      left: 58%;
    }

    &:nth-child(5) {
      top: 88%;
      left: 23%;
    }
  }

  &__name {
    position: relative;
    text-decoration: none;
    color: var(--second-font-color);

    &:hover,
    &:focus {
      text-decoration: underline;

      &::after, &::before {
        border-radius: 0;
      }
    }

    &::after {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #fff;
      right: -40px;
      top: 6px;
      content: '';
      display: block;
      will-change: border-radius;
      transition: border-radius 0.2s ease;
    }
    &::before {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fff;
      right: -34px;
      top: 12px;
      content: '';
      display: block;
      will-change: border-radius;
      transition: border-radius 0.2s ease;
    }

  }
}

.list {
  color: var(--primary-color);
  font-size: 1.25rem;

  &--secondary {
    color: var(--font-color);
  }

  &--no-bullets {
    list-style: none;
  }
}

.clients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    padding: 0.1rem;
  }

  &__image {
    max-height: 42px;
    max-width: 90px;
  }
}

.form {
  &__group {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__label {
    font-size: 0.75rem;
    position: absolute;
    pointer-events: none;
    top: 5px;
    will-change: transform;
    transition: transform 0.2s ease;
    color: var(--primary-color);
  }

  &__input,
  &__textarea {
    padding: 0.5rem 0;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    color: var(--second-font-color);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

    &:focus + label,
    &:valid + label {
      transform: translateY(-1.5rem);
    }

    &:invalid {
      outline: none;
    }
  }

  &__button {
    width: 128px;
    height: 26px;
    color: var(--button-color);
    border: 0;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    overflow: hidden;
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    background: var(--primary-color);
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

}

.footer {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}
