@import 'abstracts/mixins';

:root {
  --primary-color: #96999c;
}

::selection {
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}
